html, body, h1, h2, h3, h4, p, div {
  padding: 0;
  border: 0;
  margin: 0;
  font: inherit;
  font-size: 100%;
}

h1 {
  font-size: 70px;
  font-weight: normal;
  text-align: center;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
}

h2 {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 30px;
  font-weight: 100;
  text-align: center;
  color: white;
  width: 800px;
  margin: 0 auto;
}

h2 strong {
  font-weight: 400;
}

.header {
  background-color: grey; 
}

.tagline {
  background-color: black;
  padding: 20px 0 20px 0;
}