html, body, h1, h2, h3, h4, p, div, ul, ol, li {
  padding: 0;
  border: 0;
  margin: 0;
  font: inherit;
  font-size: 100%;
}

h1 {
  font-size: 70px;
  font-weight: normal;
  text-align: center;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
}

h2 {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 30px;
  font-weight: 100;
  text-align: center;
  color: white;
  width: 800px;
  margin: 0 auto;
}

h2 strong {
  font-weight: 400;
}

h3 {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 28px;
  font-weight: normal;
  text-align: center;
  border-bottom: 1px solid #555555;
  margin: 20px 0 20px 0;
}

p {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 18px;
}

.desc {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 14px;
}

.header {
  background-color: grey; 
}

.tagline {
  background-color: black;
  padding: 20px 0 20px 0;
}

.projects, .badges {
  width: 700px;
  margin: 0 auto;
}

.projects ul, .badges ul {
  list-style-type: none;
}

.project li, .badges li {
  margin-bottom: 10px;
}

.badges img {
  float: left;
  width: 40px;
  height: 40px;
  padding-right: 10px;
}

.banner {
  width: 700px;
  height: 300px;
}